<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.apiserver.api.meet.mapper.MeetMapper">
    <select id="findMeetByDistance" resultType="com.hello.apiserver.api.meet.vo.NearMeetVo">
        /* findMeetByDistance */
        SELECT
            s.id,
            s.title,
            s.message,
            s.channel_url AS channelUrl,
            s.member_id AS memberId,
            m.name,
            s.reg_dt AS regDt,
            IFNULL(SUM(CC.commentCnt + CC.commentReplyCnt), 0) AS commentCnt,
            m.client_token AS clientToken,
            m.profile_url AS profileUrl,
            m.profile_url_org AS profileUrlOrg,
            m.profile_file AS profileFile,
            s.original_img AS originalImg,
            s.thumbnail_img AS thumbnailImg,
            s.file_name AS fileName,
            s.sortation,
            s.meet_start_dt AS meetStartDt,
            s.meet_end_dt AS meetEndDt,
            m.location_lat AS locationLat,
            m.location_lon AS locationLon,
            d.district_kr_name AS districtKrName,
            d.district_kr_name_abbr AS districtKrNameAbbr,
            s.member_limit AS memberLimit,
            s.place,
            s.has_password AS hasPassword
        FROM
            meet s
        INNER JOIN
            member m ON s.member_id = m.id AND s.use_yn = 'Y'
        INNER JOIN
            district_code d ON m.district_code = d.district_code
        <if test="(meetStartDt neq null and meetStartDt neq '') and (meetEndDt neq null and meetEndDt neq '')">
            <![CDATA[
              AND (
                    CASE
                        WHEN s.sortation = 'F'
                            THEN (meet_start_dt >= ${meetStartDt} AND meet_start_dt <= ${meetEndDt})
                        ELSE
                            (
                             (${meetStartDt} <= meet_start_dt AND meet_start_dt <= ${meetEndDt} AND ${meetEndDt} <= meet_end_dt)
                             OR
                             (${meetStartDt} <= meet_start_dt AND meet_start_dt <= meet_end_dt AND meet_end_dt <= ${meetEndDt})
                             OR
                             (meet_start_dt <= ${meetStartDt} AND ${meetStartDt} <= meet_end_dt AND meet_end_dt <= ${meetEndDt})
                             )
                        END
                  )
            ]]>
        </if>
        <if test="seLat neq null and nwLat neq null and nwLon neq null and seLon neq null">
            AND m.location_lat BETWEEN ${seLat} AND ${nwLat}
            AND m.location_lon BETWEEN ${nwLon} AND ${seLon}
        </if>
        LEFT JOIN
        (
            SELECT * FROM (
                            SELECT
                                  s.id AS meetid, c.id AS comment_id, COUNT(c.id) AS commentCnt
                            FROM
                                meet s
                            LEFT JOIN comment c
                                  ON s.id = c.meet_id
                                  AND c.sortation = 'M'
                            GROUP BY s.id
            ) AA
            LEFT JOIN
                    (
                        SELECT
                              c.meet_id, c.id,  COUNT(r.id) AS commentReplyCnt
                        FROM
                              comment c
                        LEFT JOIN
                              comment_reply r
                              ON c.id = r.comment_id
                              AND c.sortation = 'M'
                        GROUP BY c.meet_id
                    ) BB
                    ON AA.meetid = BB.meet_id
        ) AS CC
          ON s.id = CC.meetid
        -- LEFT JOIN like_say l ON s.id = l.say_id
        GROUP BY s.id
        UNION ALL
        (
            SELECT
                    s.id,
                    null,
                    s.message,
                    s.channel_url AS channelUrl,
                    s.member_id AS memberId,
                    s.title,
                    s.reg_dt AS regDt,
                    IFNULL(SUM(CC.commentCnt + CC.commentReplyCnt), 0) AS commentCnt,
                    null AS clientToken,
                    null AS profileUrl,
                    null AS profileUrlOrg,
                    null AS profileFile,
                    s.original_img AS originalImg,
                    s.thumbnail_img AS thumbnailImg,
                    s.file_name AS fileName,
                    s.sortation,
                    s.meet_start_dt AS meetStartDt,
                    s.meet_end_dt AS meetEndDt,
                    0 AS locationLat,
                    0 AS locationLon,
                    null AS districtKrName,
                    null AS districtKrNameAbbr,
                    s.member_limit AS memberLimit,
                    s.place,
                    s.has_password AS hasPassword
            FROM (
                  SELECT * FROM meet WHERE member_id IS NULL AND use_yn = 'Y'
                    <if test="(meetStartDt neq null and meetStartDt neq '') and (meetEndDt neq null and meetEndDt neq '')">
                        <![CDATA[
                          AND (
                                CASE
                                    WHEN sortation = 'F'
                                        THEN (meet_start_dt >= ${meetStartDt} AND meet_start_dt <= ${meetEndDt})
                                    ELSE
                                        (
                                         (${meetStartDt} <= meet_start_dt AND meet_start_dt <= ${meetEndDt} AND ${meetEndDt} <= meet_end_dt)
                                         OR
                                         (${meetStartDt} <= meet_start_dt AND meet_start_dt <= meet_end_dt AND meet_end_dt <= ${meetEndDt})
                                         OR
                                         (meet_start_dt <= ${meetStartDt} AND ${meetStartDt} <= meet_end_dt AND meet_end_dt <= ${meetEndDt})
                                         )
                                    END
                              )
                        ]]>
                    </if>
                  ) s
            LEFT JOIN
            (
                SELECT * FROM (
                                SELECT
                                s.id AS meetid, c.id AS comment_id, COUNT(c.id) AS commentCnt
                                FROM
                                meet s
                                LEFT JOIN comment c
                                ON s.id = c.meet_id
                                AND c.sortation = 'M'
                                GROUP BY s.id
                ) AA
                LEFT JOIN
                (
                    SELECT
                          c.meet_id, c.id,
                          COUNT(r.id) AS commentReplyCnt
                    FROM comment c
                    LEFT JOIN comment_reply r
                    ON c.id = r.comment_id
                    AND c.sortation = 'M'
                    GROUP BY c.meet_id
                ) BB
                ON AA.meetid = BB.meet_id
            ) AS CC
              ON s.id = CC.meetid
        )
        ORDER BY regDt DESC
        LIMIT ${page}, 20
    </select>

    <select id="findLikeMemberList" resultType="java.lang.String">
        /* findLikeMemberList */
        SELECT member_id AS memberId FROM like_say WHERE meet_id = ${sayId} AND sortation = #{sortation}
    </select>

    <select id="getMeetListByUid" resultType="com.hello.apiserver.api.meet.vo.NearMeetVo">
        /* getMeetListByUid */
        SELECT
                s.id,
                s.title,
                s.message,
                s.channel_url AS channelUrl,
                s.member_id AS memberId,
                m.name,
                s.reg_dt AS regDt,
                IFNULL(SUM(AA.commentCnt + BB.commentReplyCnt), 0) AS commentCnt,
                m.client_token AS clientToken,
                m.profile_url AS profileUrl,
                m.profile_url_org AS profileUrlOrg,
                m.profile_file AS profileFile,
                s.original_img AS originalImg,
                s.thumbnail_img AS thumbnailImg,
                s.file_name AS fileName,
                s.sortation,
                s.meet_start_dt AS meetStartDt,
                s.meet_end_dt AS meetEndDt,
                m.location_lat AS locationLat,
                m.location_lon AS locationLon,
                s.member_limit AS memberLimit,
                s.place,
                s.has_password AS hasPassword
        FROM
        meet s
        INNER JOIN
        member m ON s.member_id = m.id AND s.use_yn = 'Y' AND m.id = #{memberId}
        LEFT JOIN
        (SELECT
        s.id AS meet_id, c.id AS comment_id, COUNT(c.id) AS commentCnt
        FROM
        meet s
        LEFT JOIN comment c ON s.id = c.meet_id AND c.sortation = 'M'
        GROUP BY s.id) AS AA ON s.id = AA.meet_id
        LEFT JOIN
        (SELECT
        c.meet_id, c.id, COUNT(r.id) AS commentReplyCnt
        FROM
        comment c
        LEFT JOIN comment_reply r ON c.id = r.comment_id AND c.sortation = 'M'
        GROUP BY c.meet_id) AS BB ON AA.comment_id = BB.id
        -- LEFT JOIN like_say l ON s.id = l.say_id
        GROUP BY s.id
        ORDER BY s.reg_dt DESC
        LIMIT ${page}, 20
    </select>

    <select id="checkPassword" resultType="int">
        /* checkPassword */
        SELECT COUNT(*) FROM meet WHERE channel_url = #{channelUrl} AND password = #{password}
    </select>
</mapper>